.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13209-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16160-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16166-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16214-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16188-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8492-17
{
	font-family: open-sans-n6, sans-serif;
}

#u8359-4,#u8496
{
	font-family: open-sans-n4, sans-serif;
}

#u14401.PamphletThumbSelected #u14407-6 p,#u13796.PamphletThumbSelected #u13798-4 p,#u13853.PamphletThumbSelected #u13860-4 p,#u13800.PamphletThumbSelected #u13803-4 p,#u13880.PamphletThumbSelected #u13887-4 p,#u14383.PamphletThumbSelected #u14389-4 p,#u13785-4,#u14038-10,#u14058-7,#u14028-7,#u13783-4,#u13782-4,#u13776-6,#u13775-4,#u13866-4,#u13867-4,#u13868-4,#u13869-4,#u13891-4,#u14059-4,#u14396-4,#u14397-4,#u14412-4,#u14413-4,#u13803-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13798-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13795-6
{
	font-family: open-sans-n3, sans-serif;
}

#u13851-4,#u13860-4
{
	font-family: open-sans-n3, sans-serif;
}

#u13887-4
{
	font-family: open-sans-n3, sans-serif;
}

#u14389-4
{
	font-family: open-sans-n3, sans-serif;
}

#u14407-6
{
	font-family: open-sans-n3, sans-serif;
}

