.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u12198-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11526-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7487-2,#u17798-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11101-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11114-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11129-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12216-4,#u12216-8,#u12216-12,#u12216-13,#u11105-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11133-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11121-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7487-4,#u11507-2,#u11507-6,#u11507-8,#u11507-10,#u11507-11,#u11507-13,#u11507-15,#u11536-16
{
	font-family: open-sans-n3, sans-serif;
}

#u11506-19,#u11536-5,#u11536-9,#u11509-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11507-3,#u7355-4,#u7673
{
	font-family: open-sans-n4, sans-serif;
}

