.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13209-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16160-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16166-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16214-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16188-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8492-17
{
	font-family: open-sans-n6, sans-serif;
}

#u8359-4,#u8496
{
	font-family: open-sans-n4, sans-serif;
}

#u20679-10
{
	font-family: open-sans-n3, sans-serif;
}

#u19693-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19827-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19890-4
{
	font-family: open-sans-n4, sans-serif;
}

#u19842-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19894-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19852-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19900-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19875-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19905-6
{
	font-family: open-sans-n4, sans-serif;
}

#u19881-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20736-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20742-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20745-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20770-6
{
	font-family: open-sans-n4, sans-serif;
}

#u22177-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20773-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20779-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20830-4
{
	font-family: open-sans-n4, sans-serif;
}

#u22034-6
{
	font-family: open-sans-n4, sans-serif;
}

#u22117-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20903-4
{
	font-family: open-sans-n4, sans-serif;
}

#u20907-6
{
	font-family: open-sans-n4, sans-serif;
}

#u20645,#u20645-3,#u20645-5,#u19675-4
{
	font-family: open-sans-n6, sans-serif;
}

#u19654-4
{
	font-family: open-sans-n6, sans-serif;
}

#u19645-4
{
	font-family: open-sans-n6, sans-serif;
}

#u19682-4
{
	font-family: open-sans-n6, sans-serif;
}

#u19690-4
{
	font-family: open-sans-n6, sans-serif;
}

