.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13209-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16160-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16166-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16214-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16188-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8492-17
{
	font-family: open-sans-n6, sans-serif;
}

#u8359-4,#u8496
{
	font-family: open-sans-n4, sans-serif;
}

#u6821-2,#u6821-5,#u6821-9,#u13156-5,#u13156-9
{
	font-family: open-sans-n6, sans-serif;
}

#u6821-3,#u6821-6,#u6821-7,#u6821-10,#u6821-11,#u6821-13,#u6821-14,#u6821-20,#u6821-22,#u6821-24,#u6821-25,#u6821-27,#u6821-29,#u13156-16,#u6788-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6821-16,#u6821-17,#u6787-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6765-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6766-4
{
	font-family: open-sans-n4, sans-serif;
}

#u6784-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6785-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu6786_input,#widgetu6786_prompt,#widgetu6762_input,#widgetu6762_prompt,#widgetu6781_input,#widgetu6781_prompt
{
	font-family: open-sans, sans-serif;
}

