.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13209-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16160-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16166-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16214-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16188-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8492-17
{
	font-family: open-sans-n6, sans-serif;
}

#u8359-4,#u8496
{
	font-family: open-sans-n4, sans-serif;
}

#u23217-4
{
	font-family: open-sans-n6, sans-serif;
}

#u23184-4
{
	font-family: open-sans-n6, sans-serif;
}

#u23196-4
{
	font-family: open-sans-n6, sans-serif;
}

#u23190-4
{
	font-family: open-sans-n6, sans-serif;
}

#u23223-4
{
	font-family: open-sans-n6, sans-serif;
}

