.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13209-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16183-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16151-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16194-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16175-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16160-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16166-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16214-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16188-4
{
	font-family: open-sans-n6, sans-serif;
}

#u8492-17
{
	font-family: open-sans-n6, sans-serif;
}

#u8359-4,#u8496
{
	font-family: open-sans-n4, sans-serif;
}

#u16499-4.AccordionPanelTabOpen p,#u16499-4.AccordionPanelTabOpen span,#u16859-4.AccordionPanelTabOpen p,#u16859-4.AccordionPanelTabOpen span,#u16829-4.AccordionPanelTabOpen p,#u16829-4.AccordionPanelTabOpen span,#u16479-4.AccordionPanelTabOpen p,#u16479-4.AccordionPanelTabOpen span,#u16849-4.AccordionPanelTabOpen p,#u16849-4.AccordionPanelTabOpen span,#u16831-4.AccordionPanelTabOpen p,#u16831-4.AccordionPanelTabOpen span,#u16861-4.AccordionPanelTabOpen p,#u16861-4.AccordionPanelTabOpen span,#u16879-4.AccordionPanelTabOpen p,#u16879-4.AccordionPanelTabOpen span,#u16459-4.AccordionPanelTabOpen p,#u16459-4.AccordionPanelTabOpen span,#u16489-4.AccordionPanelTabOpen p,#u16489-4.AccordionPanelTabOpen span,#u16600-4.AccordionPanelTabOpen p,#u16600-4.AccordionPanelTabOpen span,#u16582-4.AccordionPanelTabOpen p,#u16582-4.AccordionPanelTabOpen span,#u16652-3
{
	font-family: open-sans-n7, sans-serif;
}

#u16880-14,#u16880-15,#u16880-18,#u16530-5,#u16530-7,#u16530-8,#u16530-15,#u16551-4,#u16551-6,#u16551-8
{
	font-family: open-sans-n3, sans-serif;
}

#u16685-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16707-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16713-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16680-4
{
	font-family: open-sans-n6, sans-serif;
}

