.TXT_12,.TXT_14,.KATEGORIA,.KATEGORIA_Chirurgia
{
	font-family: open-sans-n3, sans-serif;
}

.PODTYTUL,.PODTYTUL_Chirurgia
{
	font-family: open-sans-n4, sans-serif;
}

.TYTUL,.TYTUL_Chirurgia
{
	font-family: open-sans-n6, sans-serif;
}

.SRODTYTUL,.SRODTYTUL_Chirurgia,.TXT_14_wyroznienie,.Character-Style,.TXT_12_wyroznienie
{
	font-family: open-sans-n7, sans-serif;
}

#u13218-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16124-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16133-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16139-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16090-4
{
	font-family: open-sans-n6, sans-serif;
}

#u16077-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7906-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7917-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7878-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7920-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7889-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7901-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7930-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7949-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7846-17
{
	font-family: open-sans-n6, sans-serif;
}

#u7958-4,#u7847
{
	font-family: open-sans-n4, sans-serif;
}

#u15363-4.AccordionPanelTabOpen p,#u15363-4.AccordionPanelTabOpen span,#u15279-4.AccordionPanelTabOpen p,#u15279-4.AccordionPanelTabOpen span,#u15277-4.AccordionPanelTabOpen p,#u15277-4.AccordionPanelTabOpen span,#u15350-4.AccordionPanelTabOpen p,#u15350-4.AccordionPanelTabOpen span,#u15384-4.AccordionPanelTabOpen p,#u15384-4.AccordionPanelTabOpen span,#u15374-4.AccordionPanelTabOpen p,#u15374-4.AccordionPanelTabOpen span,#u15388-6.AccordionPanelTabOpen p,#u15388-6.AccordionPanelTabOpen span,#u14871-2,#u15944-3
{
	font-family: open-sans-n7, sans-serif;
}

