html
{
	background: #FFFFFF url("../images/warsaw.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999999px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 12px;
}

#pu923
{
	width: 0.01px;
	padding-bottom: 126px;
	left: -100px;
	position: relative;
}

#u923
{
	z-index: 53;
	width: 1160px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1005
{
	z-index: 112;
	width: 100px;
	top: 26px;
	left: 20px;
}

#u925-8
{
	z-index: 114;
	width: 120px;
	min-height: 77px;
	top: 32px;
	left: 133px;
}

#u924
{
	z-index: 54;
	width: 248px;
	height: 116px;
	top: 36px;
	left: 0px;
}

#menuu926
{
	z-index: 55;
	width: 143px;
	top: 36px;
	left: 248px;
}

#u998
{
	width: 143px;
}

#u1001
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1002-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001:hover #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1001:active #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u951-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001.MuseMenuActive #u1002-4,#u950:hover #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950:active #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u954
{
	width: 120px;
	left: 143px;
}

#u994
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u997-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994:hover #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u994:active #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u982-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994.MuseMenuActive #u997-4,#u980:hover #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980:active #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u958-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u980.MuseMenuActive #u982-4,#u957:hover #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957:active #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u975-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u957.MuseMenuActive #u958-4,#u973:hover #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973:active #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u966-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u973.MuseMenuActive #u975-4,#u964:hover #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964:active #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u955,#u991,#u977,#u956,#u970,#u963,#u984
{
	width: 120px;
}

#u987
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u989-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u964.MuseMenuActive #u966-4,#u987:hover #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987:active #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987.MuseMenuActive #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u949,#u942
{
	width: 143px;
	margin-top: 2px;
}

#u943
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1001.MuseMenuActive,#u950.MuseMenuActive,#u994.MuseMenuActive,#u980.MuseMenuActive,#u957.MuseMenuActive,#u973.MuseMenuActive,#u964.MuseMenuActive,#u987.MuseMenuActive,#u943.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u946-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u950.MuseMenuActive #u951-4,#u943:hover #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943:active #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943.MuseMenuActive #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1432-4
{
	z-index: 49;
	width: 132px;
	min-height: 19px;
	background-color: #000000;
	padding-top: 4px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 808px;
	top: -70px;
	margin-bottom: -23px;
	position: relative;
}

#slideshowu1373
{
	z-index: 2;
	width: 0.01px;
	height: 748px;
	margin-left: 20px;
	top: -47px;
	margin-bottom: -47px;
	position: relative;
}

#u1414-4
{
	position: absolute;
	width: 70px;
	min-height: 23px;
	line-height: 1.4;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 300;
	left: 818px;
}

#u1414-4popup
{
	z-index: 3;
}

#u1415
{
	position: absolute;
	width: 920px;
	height: 650px;
	background-color: transparent;
	top: 89px;
}

#u1415popup
{
	z-index: 7;
}

#u1771
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1780
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1789
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1798
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1807
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1816
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1825
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1834
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1401
{
	position: absolute;
	width: 550px;
	top: 26px;
	left: 370px;
}

#u1401popup
{
	z-index: 24;
}

#u1774
{
	z-index: 25;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1783
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u1774_img,#u1783_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1792
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u1801
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u1810
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u1819
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1828
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u1837
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u1774.SSSlideLinkSelected,#u1783.SSSlideLinkSelected,#u1792.SSSlideLinkSelected,#u1801.SSSlideLinkSelected,#u1810.SSSlideLinkSelected,#u1819.SSSlideLinkSelected,#u1828.SSSlideLinkSelected,#u1837.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1774_clip,#u1783_clip,#u1792_clip,#u1801_clip,#u1810_clip,#u1819_clip,#u1828_clip,#u1837_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u1792_img,#u1801_img,#u1810_img,#u1819_img,#u1828_img,#u1837_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u1374-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 788px;
}

#u1374-4popup
{
	z-index: 41;
}

#u1414,#u1374
{
	color: #999999;
}

#u1431-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 888px;
}

#u1431-4popup
{
	z-index: 45;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1360
{
	z-index: 122;
	width: 1160px;
	height: 36px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1361-4
{
	z-index: 123;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	left: 17px;
}

#u1363-7
{
	z-index: 132;
	width: 680px;
	min-height: 8px;
	bottom: 11px;
	left: 50%;
	margin-left: -368px;
}

#u1362-5
{
	z-index: 127;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	right: 17px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

