html
{
	background: #FFFFFF url("../images/warsaw.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 12px;
}

#pu923
{
	width: 0.01px;
	padding-bottom: 126px;
	left: -100px;
	position: relative;
}

#u923
{
	z-index: 61;
	width: 1160px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1005
{
	z-index: 120;
	width: 100px;
	top: 26px;
	left: 20px;
}

#u925-8
{
	z-index: 122;
	width: 120px;
	min-height: 77px;
	top: 32px;
	left: 133px;
}

#u924
{
	z-index: 62;
	width: 248px;
	height: 116px;
	top: 36px;
	left: 0px;
}

#menuu926
{
	z-index: 63;
	width: 143px;
	top: 36px;
	left: 248px;
}

#u998
{
	width: 143px;
}

#u1001
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1002-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001:hover #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1001:active #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u951-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001.MuseMenuActive #u1002-4,#u950:hover #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950:active #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u954
{
	width: 120px;
	left: 143px;
}

#u994
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u997-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994:hover #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u994:active #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u982-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994.MuseMenuActive #u997-4,#u980:hover #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980:active #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u958-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u980.MuseMenuActive #u982-4,#u957:hover #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957:active #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u975-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u957.MuseMenuActive #u958-4,#u973:hover #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973:active #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u966-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u973.MuseMenuActive #u975-4,#u964:hover #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964:active #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u955,#u991,#u977,#u956,#u970,#u963,#u984
{
	width: 120px;
}

#u987
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u989-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u964.MuseMenuActive #u966-4,#u987:hover #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987:active #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987.MuseMenuActive #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u949,#u942
{
	width: 143px;
	margin-top: 2px;
}

#u943
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1001.MuseMenuActive,#u950.MuseMenuActive,#u994.MuseMenuActive,#u980.MuseMenuActive,#u957.MuseMenuActive,#u973.MuseMenuActive,#u964.MuseMenuActive,#u987.MuseMenuActive,#u943.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u946-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u950.MuseMenuActive #u951-4,#u943:hover #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943:active #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943.MuseMenuActive #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1648-4
{
	z-index: 57;
	width: 132px;
	min-height: 19px;
	background-color: #000000;
	padding-top: 4px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 808px;
	top: -70px;
	margin-bottom: -23px;
	position: relative;
}

#slideshowu1589
{
	z-index: 2;
	width: 0.01px;
	height: 797px;
	margin-left: 24px;
	top: -47px;
	margin-bottom: -47px;
	position: relative;
}

#u1630-4
{
	position: absolute;
	width: 70px;
	min-height: 23px;
	line-height: 1.4;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 300;
	left: 814px;
}

#u1630-4popup
{
	z-index: 3;
}

#u1631
{
	position: absolute;
	width: 920px;
	height: 650px;
	background-color: transparent;
	top: 137px;
}

#u1631popup
{
	z-index: 7;
}

#u2016
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2025
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2034
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2043
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2052
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2061
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2070
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2079
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2088
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2097
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1617
{
	position: absolute;
	width: 340px;
	top: 26px;
	left: 576px;
}

#u1617popup
{
	z-index: 28;
}

#u2019
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2028
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u2037
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u2046
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u2055
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2019.SSSlideLinkSelected,#u2028.SSSlideLinkSelected,#u2037.SSSlideLinkSelected,#u2046.SSSlideLinkSelected,#u2055.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2064
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u2073
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u2082
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u2091
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u2028_img,#u2037_img,#u2046_img,#u2055_img,#u2064_img,#u2073_img,#u2082_img,#u2091_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u2100
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u2064.SSSlideLinkSelected,#u2073.SSSlideLinkSelected,#u2082.SSSlideLinkSelected,#u2091.SSSlideLinkSelected,#u2100.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u2019_clip,#u2028_clip,#u2037_clip,#u2046_clip,#u2055_clip,#u2064_clip,#u2073_clip,#u2082_clip,#u2091_clip,#u2100_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u2019_img,#u2100_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u1590-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 784px;
}

#u1590-4popup
{
	z-index: 49;
}

#u1630,#u1590
{
	color: #999999;
}

#u1647-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 884px;
}

#u1647-4popup
{
	z-index: 53;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1360
{
	z-index: 130;
	width: 1160px;
	height: 36px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1361-4
{
	z-index: 131;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	left: 17px;
}

#u1363-7
{
	z-index: 140;
	width: 680px;
	min-height: 8px;
	bottom: 11px;
	left: 50%;
	margin-left: -368px;
}

#u1362-5
{
	z-index: 135;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	right: 17px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

