html
{
	background: #FFFFFF url("../images/warsaw.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999999px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 12px;
}

#pu923
{
	width: 0.01px;
	padding-bottom: 126px;
	left: -100px;
	position: relative;
}

#u923
{
	z-index: 73;
	width: 1160px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1005
{
	z-index: 132;
	width: 100px;
	top: 26px;
	left: 20px;
}

#u925-8
{
	z-index: 134;
	width: 120px;
	min-height: 77px;
	top: 32px;
	left: 133px;
}

#u924
{
	z-index: 74;
	width: 248px;
	height: 116px;
	top: 36px;
	left: 0px;
}

#menuu926
{
	z-index: 75;
	width: 143px;
	top: 36px;
	left: 248px;
}

#u998
{
	width: 143px;
}

#u1001
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1002-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001:hover #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1001:active #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u951-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001.MuseMenuActive #u1002-4,#u950:hover #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950:active #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u954
{
	width: 120px;
	left: 143px;
}

#u994
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u997-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994:hover #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u994:active #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u982-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994.MuseMenuActive #u997-4,#u980:hover #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980:active #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u958-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u980.MuseMenuActive #u982-4,#u957:hover #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957:active #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u975-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u957.MuseMenuActive #u958-4,#u973:hover #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973:active #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u966-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u973.MuseMenuActive #u975-4,#u964:hover #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964:active #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u955,#u991,#u977,#u956,#u970,#u963,#u984
{
	width: 120px;
}

#u987
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u989-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u964.MuseMenuActive #u966-4,#u987:hover #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987:active #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987.MuseMenuActive #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u949,#u942
{
	width: 143px;
	margin-top: 2px;
}

#u943
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1001.MuseMenuActive,#u950.MuseMenuActive,#u994.MuseMenuActive,#u980.MuseMenuActive,#u957.MuseMenuActive,#u973.MuseMenuActive,#u964.MuseMenuActive,#u987.MuseMenuActive,#u943.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u946-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u950.MuseMenuActive #u951-4,#u943:hover #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943:active #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943.MuseMenuActive #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1720-4
{
	z-index: 69;
	width: 132px;
	min-height: 19px;
	background-color: #000000;
	padding-top: 4px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 808px;
	top: -70px;
	margin-bottom: -23px;
	position: relative;
}

#slideshowu1661
{
	z-index: 2;
	width: 0.01px;
	height: 796px;
	margin-left: 20px;
	top: -47px;
	margin-bottom: -47px;
	position: relative;
}

#u1702-4
{
	position: absolute;
	width: 70px;
	min-height: 23px;
	line-height: 1.4;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 300;
	left: 818px;
}

#u1702-4popup
{
	z-index: 3;
}

#u1703
{
	position: absolute;
	width: 920px;
	height: 650px;
	background-color: transparent;
	top: 137px;
}

#u1703popup
{
	z-index: 7;
}

#u2179
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2188
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2197
{
	z-index: 12;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2206
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2215
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2224
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2233
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2242
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2251
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2260
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2269
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2278
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u2287
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1689
{
	position: absolute;
	width: 480px;
	top: 26px;
	left: 440px;
}

#u1689popup
{
	z-index: 34;
}

#u2182
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2191
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u2200
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u2209
{
	z-index: 41;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u2218
{
	z-index: 43;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2227
{
	z-index: 45;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u2236
{
	z-index: 47;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u2182.SSSlideLinkSelected,#u2191.SSSlideLinkSelected,#u2200.SSSlideLinkSelected,#u2209.SSSlideLinkSelected,#u2218.SSSlideLinkSelected,#u2227.SSSlideLinkSelected,#u2236.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u2245
{
	z-index: 49;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u2254
{
	z-index: 51;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u2263
{
	z-index: 53;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u2272
{
	z-index: 55;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u2182_img,#u2209_img,#u2218_img,#u2227_img,#u2245_img,#u2263_img,#u2272_img
{
	margin-left: -4px;
	margin-right: -4px;
}

#u2281
{
	z-index: 57;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u2290
{
	z-index: 59;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u2245.SSSlideLinkSelected,#u2254.SSSlideLinkSelected,#u2263.SSSlideLinkSelected,#u2272.SSSlideLinkSelected,#u2281.SSSlideLinkSelected,#u2290.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 55px -10000px 0px 0px;
}

#u2182_clip,#u2191_clip,#u2200_clip,#u2209_clip,#u2218_clip,#u2227_clip,#u2236_clip,#u2245_clip,#u2254_clip,#u2263_clip,#u2272_clip,#u2281_clip,#u2290_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u2191_img,#u2200_img,#u2236_img,#u2254_img,#u2281_img,#u2290_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u1662-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 788px;
}

#u1662-4popup
{
	z-index: 61;
}

#u1702,#u1662
{
	color: #999999;
}

#u1719-4
{
	position: absolute;
	width: 30px;
	min-height: 22px;
	line-height: 1.4;
	text-align: center;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 1px;
	left: 888px;
}

#u1719-4popup
{
	z-index: 65;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1360
{
	z-index: 142;
	width: 1160px;
	height: 36px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1361-4
{
	z-index: 143;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	left: 17px;
}

#u1363-7
{
	z-index: 152;
	width: 680px;
	min-height: 8px;
	bottom: 11px;
	left: 50%;
	margin-left: -368px;
}

#u1362-5
{
	z-index: 147;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	right: 17px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

