#u420-4
{
	font-family: exo-n3, sans-serif;
}

#u405-4
{
	font-family: exo-n3, sans-serif;
}

#u454-4
{
	font-family: exo-n3, sans-serif;
}

#u463-4
{
	font-family: exo-n3, sans-serif;
}

#u469-4
{
	font-family: exo-n3, sans-serif;
}

#u476-4
{
	font-family: exo-n3, sans-serif;
}

#u482-4
{
	font-family: exo-n3, sans-serif;
}

#u488-4
{
	font-family: exo-n3, sans-serif;
}

#u411-4
{
	font-family: exo-n3, sans-serif;
}

#u288-3
{
	font-family: exo-n5, sans-serif;
}

#u244-8,#u288-13,#u1356-4,#u1358-7,#u1359-5
{
	font-family: exo-n3, sans-serif;
}

