#u925-8,#u1002-4
{
	font-family: exo-n3, sans-serif;
}

#u951-4
{
	font-family: exo-n3, sans-serif;
}

#u997-4
{
	font-family: exo-n3, sans-serif;
}

#u982-4
{
	font-family: exo-n3, sans-serif;
}

#u958-4
{
	font-family: exo-n3, sans-serif;
}

#u975-4
{
	font-family: exo-n3, sans-serif;
}

#u966-4
{
	font-family: exo-n3, sans-serif;
}

#u989-4
{
	font-family: exo-n3, sans-serif;
}

#u946-4
{
	font-family: exo-n3, sans-serif;
}

#u1361-4,#u1363-7,#u1362-5
{
	font-family: exo-n3, sans-serif;
}

#u1576-4
{
	font-family: exo-n5, sans-serif;
}

#u1558-4,#u2709-5
{
	font-family: exo-n3, sans-serif;
}

