html
{
	background: #FFFFFF url("../images/warsaw.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 150px;
}

#pu923
{
	width: 0.01px;
	padding-bottom: 126px;
	left: -100px;
	position: relative;
}

#u923
{
	z-index: 15;
	width: 1160px;
	height: 36px;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1005
{
	z-index: 74;
	width: 100px;
	top: 26px;
	left: 20px;
}

#u925-8
{
	z-index: 76;
	width: 120px;
	min-height: 77px;
	top: 32px;
	left: 133px;
}

#u924
{
	z-index: 16;
	width: 248px;
	height: 116px;
	top: 36px;
	left: 0px;
}

#pu1355
{
	z-index: 2;
	width: 0.01px;
	position: relative;
	margin-left: 343px;
	margin-top: 93px;
}

#u1355
{
	z-index: 0;
	width: 4080px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu1337-12
{
	width: 0.01px;
	position: relative;
	left: 38px;
	padding-top: 36px;
	z-index: 2;
	padding-bottom: 36px;
}

#u1337-12
{
	z-index: 3;
	width: 274px;
	min-height: 63px;
	font-size: 16px;
	color: #000000;
	text-align: left;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#menuu926
{
	z-index: 17;
	width: 143px;
	top: 36px;
	left: 248px;
}

#u998
{
	width: 143px;
}

#u1001
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u1002-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001:hover #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1001:active #u1002-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 20px;
	margin-right: -10000px;
}

#u951-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u1001.MuseMenuActive #u1002-4,#u950:hover #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u950:active #u951-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u954
{
	width: 120px;
	left: 143px;
}

#u994
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u997-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994:hover #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u994:active #u997-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u982-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u994.MuseMenuActive #u997-4,#u980:hover #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u980:active #u982-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u958-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u980.MuseMenuActive #u982-4,#u957:hover #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u957:active #u958-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u975-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u957.MuseMenuActive #u958-4,#u973:hover #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u973:active #u975-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u966-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u973.MuseMenuActive #u975-4,#u964:hover #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u964:active #u966-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u955,#u991,#u977,#u956,#u970,#u963,#u984
{
	width: 120px;
}

#u987
{
	width: 120px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u989-4
{
	width: 112px;
	min-height: 17px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 2px;
}

#u964.MuseMenuActive #u966-4,#u987:hover #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987:active #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u987.MuseMenuActive #u989-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u949,#u942
{
	width: 143px;
	margin-top: 2px;
}

#u943
{
	width: 143px;
	min-height: 17px;
	padding-bottom: 21px;
	margin-right: -10000px;
}

#u1001.MuseMenuActive,#u950.MuseMenuActive,#u994.MuseMenuActive,#u980.MuseMenuActive,#u957.MuseMenuActive,#u973.MuseMenuActive,#u964.MuseMenuActive,#u987.MuseMenuActive,#u943.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u946-4
{
	width: 128px;
	min-height: 17px;
	margin-right: -10000px;
	top: 10px;
	left: 15px;
}

#u950.MuseMenuActive #u951-4,#u943:hover #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943:active #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u943.MuseMenuActive #u946-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1360
{
	z-index: 84;
	width: 1160px;
	height: 36px;
	bottom: 0px;
	left: 50%;
	margin-left: -50%;
}

#u1361-4
{
	z-index: 85;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	left: 17px;
}

#u1363-7
{
	z-index: 94;
	width: 680px;
	min-height: 8px;
	bottom: 11px;
	left: 50%;
	margin-left: -368px;
}

#u1362-5
{
	z-index: 89;
	width: 206px;
	min-height: 8px;
	bottom: 11px;
	right: 17px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

