#u1005
{
	position: fixed;
}

#u925-8
{
	font-size: 14px;
	color: #909090;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u923,#u924
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
}

#menuu926
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: fixed;
}

#u1001
{
	background-color: transparent;
	position: relative;
}

#u1002-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1001:hover #u1002-4
{
	background-color: transparent;
}

#u1001:active #u1002-4
{
	background-color: transparent;
}

#u1001:hover #u1002-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u1001:active #u1002-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u950
{
	background-color: transparent;
	position: relative;
}

#u951-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u950:hover #u951-4
{
	background-color: transparent;
}

#u950:active #u951-4
{
	background-color: transparent;
}

#u950:hover #u951-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u950:active #u951-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u955
{
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
}

#u994
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u997-4
{
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u994:hover #u997-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u994:active #u997-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u980
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u982-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u980:hover #u982-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u980:active #u982-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u957
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u958-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u957:hover #u958-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u957:active #u958-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u973
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u975-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u973:hover #u975-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u973:active #u975-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u964
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u966-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u964:hover #u966-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u964:active #u966-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u987
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u989-4
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u987:hover #u989-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u987:active #u989-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u994.MuseMenuActive #u997-4 p,#u980.MuseMenuActive #u982-4 p,#u957.MuseMenuActive #u958-4 p,#u973.MuseMenuActive #u975-4 p,#u964.MuseMenuActive #u966-4 p,#u987.MuseMenuActive #u989-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u998,#u949,#u991,#u977,#u956,#u970,#u963,#u984,#u942
{
	position: relative;
}

#u943
{
	background-color: transparent;
	position: relative;
}

#u946-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: left;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: relative;
}

#u943:hover #u946-4
{
	background-color: transparent;
}

#u943:active #u946-4
{
	background-color: transparent;
}

#u1001.MuseMenuActive #u1002-4,#u950.MuseMenuActive #u951-4,#u943.MuseMenuActive #u946-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u943:hover #u946-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u943:active #u946-4 p
{
	color: #9D9D9D;
	visibility: inherit;
}

#u1001.MuseMenuActive #u1002-4 p,#u950.MuseMenuActive #u951-4 p,#u943.MuseMenuActive #u946-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	text-align: left;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1360
{
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: fixed;
}

#u1361-4
{
	line-height: 1;
	font-size: 9px;
	text-align: left;
	color: #000000;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1363-7
{
	line-height: 1;
	font-size: 12px;
	text-align: center;
	color: #000000;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1362-5
{
	line-height: 1;
	font-size: 9px;
	text-align: right;
	color: #000000;
	font-family: exo, sans-serif;
	font-weight: 300;
	position: fixed;
}

#u1361,#u1362
{
	font-size: 12px;
}

